$bodyColor:$white;

// upPanelTable

$searchInputBgc: $lightGreen;
$searchInputFontColor: $black;
$addUserButtonBgc: $lightGreen;
$addUserButtonFont: $black;


// table

$tableHeaderBgc: $lightGreen;
$headerClickBcg: $lightGreen;
$rowBcg: $white;
$rowBcgHover: $whiteSmoke;

// pagination

$paginationBgc: $lightGreen;