$bodyColor:$black;

// upPanelTable

$searchInputBgc: $lightBlue;
$searchInputFontColor: $white;
$addUserButtonBgc: $lightBlue;
$addUserButtonFont: $white;


// table

$tableHeaderBgc: $lightBlue;
$headerClickBcg: $lightBlue;
$rowBcg: $white;
$rowBcgHover: $whiteSmoke;

// pagination

$paginationBgc: $white;